eips/sample/singlecomer.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resident">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:int" name="phone"/>
        <xs:element type="xs:string" name="utility"/>
        <xs:element type="xs:byte" name="vehicles"/>
        <xs:element type="xs:byte" name="household"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>